* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Playpen Sans", cursive; */
  font-family: "Pixelify Sans", sans-serif;
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #be8f8f;
  overflow: hidden;
  gap: 15px;
  /* animation: ease; */
}

[posId] {
  font-size: 20px;
}

.heart {
  height: 25px;
  width: 25px;
  position: absolute;
  /* animation: spamHeart 10s linear; */
}

.specialHeart {
  filter: hue-rotate(15deg);
  z-index: 100;
  height: 45px;
  width: 45px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .button { */
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 35px;
  width: fit-content;
  z-index: 100;
  padding: 0 10px;
  font-size: 20px; */
/* } */

/* .buttons__yes { */
/* background-color: rgb(0, 214, 0); */
/* } */
/* .buttons__no { */
/* background-color: rgb(246, 69, 69); */
/* } */

/* .buttons__no:hover { */
/* visibility: hidden; */
/* display: none; */
/* } */

.button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 45px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: none;
  z-index: 100;

  box-shadow: 
    -4px 0 0 0 #000,
    4px 0 0 0 #000,
    0 -4px 0 0 #000,
    0 4px 0 0 #000;
}

.buttons__yes {
    background-color: green;
}

.buttons__no {
    background-color: red;
}

.buttons__yes:active {
  transform: translateY(4px);
  box-shadow:
    -4px 0 0 0 #000,
    4px 0 0 0 #000,
    0 -4px 0 0 #000,
    0 0px 0 0 #000;
}

.buttons__no:active {
  transform: translateY(4px);
  box-shadow:
    -4px 0 0 0 #000,
    4px 0 0 0 #000,
    0 -4px 0 0 #000,
    0 0px 0 0 #000; 
}

.buttons__yes:hover {
  background-color: rgb(0, 214, 0); 
}

.buttons__no:hover {
  background-color: #e74c3c; 
}

.finalMessage {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    width: 80%;
    padding: 10px;
    background-color: rgb(249, 182, 193);
    text-align: center;
    box-shadow: 
    -4px 0 0 0 #000,
    4px 0 0 0 #000,
    0 -4px 0 0 #000,
    0 4px 0 0 #000;
}

.finalMessage > img {
    width: 100%;
}
